{%  extends 'base.html.twig'  %}

{% block body %}
    <h1>Hello, Welcome to DaVinci Lists</h1>
    <div class="row">
        <div class="col s12 m6">
            {% for item in list %}
                <div class="card">
                    {{ item.name }}
                </div>
            {% endfor %}
        </div>
    </div>
{%  endblock  %}
